@charset "UTF-8";
/****************************** 全体共通 ******************************/
html {
  font-size: 16px;
}

html * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Kosugi Maru", sans-serif !important;
  font-weight: 500;
}

body,
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  line-height: 1.4;
}

a,
a:hover {
  text-decoration: none;
  line-height: 1.7;
}

table,
tbody,
table tr {
  width: 100%;
}

@media screen and (max-width: 767px) {
  table,
  tbody,
  table tr,
  table th,
  table td {
    display: block;
    width: 100%;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.required {
  color: #f00;
  margin-left: 15px;
}

main {
  margin-bottom: 50px;
}

.alert {
  color: #f00;
  padding: 0px !important;
  margin-bottom: 0 !important;
  border: none !important;
}

/* top_template */
.index form .contact_sheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index form .contact_sheet table:first-child {
  margin-right: 25px;
}

.index form .contact_sheet table:nth-child(2) {
  margin-left: 25px;
}

.index form .contact_sheet table th {
  width: 200px;
  text-align: right;
  padding-right: 25px;
}

.index form .contact_sheet table td {
  padding: 12.5px;
}

.index form .contact_sheet .zip_code_area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index form .contact_sheet .phone_number_area div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index form .contact_sheet_content {
  margin-top: 25px;
  width: 100%;
}

.index form .contact_sheet_content table tr th {
  vertical-align: top;
  text-align: right;
  padding-right: 25px;
}

.index form .submit_btn_area {
  margin-top: 25px;
}

.index form .submit_btn_area button {
  width: 250px;
}

/* confirm_template */
.confirm .contact_sheet {
  margin-top: 50px;
  margin-bottom: 50px;
}

.confirm .submit_btn_area {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm .submit_btn_area button {
  width: 250px;
}

.confirm .submit_btn_area button:first-child {
  margin-right: 15px;
}

.confirm .submit_btn_area button:nth-child(2) {
  margin-left: 15px;
}

/* confirm_complete */
.complete .complete_content .complete_text_area p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */